 p {
color:   brown;

}  
 

div{
    color regba(244,99.00)
    
    ;font-size: 23;
    background-color: royalblue ;
    
}
ul {
list-style: square;
    color: darkgoldenrod
}
ul li {
    border: 1px solid #ddd
}